* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    max-width: 100%;
    display: flex;
    padding: 35px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
      label {
        padding-bottom: 4px;
      }
      input {
        padding: 5px 8px;
        border: 1px solid #d6c7ae;
        outline: none;
        border-radius: 8%;
      }
    }

    .buttons {
      padding-top: 15px;
      .custom-btn {
        border: none;
        outline: none;
        background-color: #164863;
        color: #fff;
        padding: 8px 12px;
        border-radius: 15px;
        margin-bottom: 2px;
      }
    }
  }
}

.actions {
  button {
    border: none;
    outline: none;
    background-color: #164863;
    color: #fff;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 2px;
  }
}
